.teub{
  background-image: url("../../assets/images/young-tomato.png");
  background-size: cover;
  background-repeat: no-repeat;

  margin: auto;
  font-size: 1.2rem;
  padding: 1rem;
}

.cardbase{
  background-color: rgba(255,255,255,0.7);
  border-radius: 1em ;
}

